html {
  background-color: #c9b5ae;
  font-family: "PT Sans", "PT Serif", sans-serif, serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: normal;
}

h1 {
  color: #4a1824;
  font-size: 1.5rem;
}

a {
  color: #711f2b;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a:hover {
  color: #441012;
  text-decoration: underline;
}

nav ol li {
  list-style-type: none;
}

.grow {
  font-weight: bold;
}

img {
  object-position: center;
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
}

main {
  color: black;
}

h2 {
  color: #471717;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
}

p > data {
  font-style: italic;
}

dt {
  font-weight: bold;
  text-decoration: none;
}

small a {
  font-family: "PT Serif", serif;
}

ul {
  list-style-type: circle;
}

main ol {
  list-style-type: lower-greek;
}

blockquote {
  font-style: italic;
  font-size: 1.3rem;
}

blockquote > cite {
  font-size: 1rem;
  font-style: italic;
}

strong {
  font-weight: normal;
}
